.home-main-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .box-wrapper {
        width: 100%;
        border: 1px solid #222426;
        background: linear-gradient(153deg,hsla(0,0%,100%,.12) -65.62%,hsla(0,0%,100%,.04) 83.28%);
        backdrop-filter: blur(25px);
        padding: 16px 24px;
        border-radius: 8px;
    }

    .home-container {
        display: flex;
        justify-content: space-evenly;
        gap:1rem;
        .portfolio-wrapper {
            height: 100%;
            width: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        .pic-main-wrapper {
            height: 220px;
            width: 220px;
            border-radius: 100%;
            border: 2px solid rgb(255, 255, 255);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            .pic-wrapper {
                height: 200px;
                width: 200px;
                border-radius: 100%;
                overflow: hidden;
            }
            
        }
        .my-description {
                background: #9747ff;
                border-radius: 8px;
                padding: .5rem .75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap:8px;
                cursor: pointer;
                .description-text {
                    font-weight: 500;
                }
                .external-icon-wrapper {
                    height: 24px;
                    img {
                        height: 24px;
                        width: 0px;
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                    }
                }
        }

        .my-description:hover .external-icon-wrapper img{
            width: 24px;
            transition: all .6s;
        }
    }
        .social-media-wrapper {
            display: flex;
            gap:12px;
            align-items: center;
            justify-content: center;
            .icon {
                cursor: pointer;
            }
        }

    }
    
    .job-title-main-wrapper {
        width: fit-content;
        .text-1 {
            text-align: left;
            font-size: 30px;
            font-weight: 600;
        }
        .text-2 {
            margin-left: 60px;
            text-align: right;
            color: #b3b6b9;
            font-size: 30px;
            font-weight: 600;
        }
    }

    .certification-main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
    }
    .job-box {
        display: flex;
        // flex-direction: column;
        gap: 1rem;
    }
    .resume-box {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .resume-poster-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .mui-button-wrapper {
            border: 1px solid #9747ff;
        }
        .resume-button-wrapper {
            display: flex;
            align-items: center;
            gap:8px;
            .text-1 {
                text-transform: capitalize;
                color: #9747ff;
            }
        }
    }

    .skills-main-wrapper {
        height: 100%;
        padding: 42px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem 4rem;
        .dev-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .icon-wrapper {
                border: 1px solid #414141;
                border-radius: 6px;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 52px;
            }
        }

    }

    .experience-main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        text-align: center;
        padding: 24px 32px;
        .text-1 {
            font-size: 50px;
            font-weight: 600;
            text-align: center;
        }
        .text-2 {
            color: #FFF;
            opacity: .7;
            font-size: 16px;
            text-align: center;
        }
    }
    .cursor {
        cursor: pointer;
    }

    @media only screen and (max-width: 1200px) {
        .home-container {
            flex-wrap: wrap;
            .portfolio-wrapper {
                width: 100%;
            }
            .resume-box {
                width: 100%;
            }
            .experience-main-container {
                flex-direction: row;
                justify-content: space-evenly;
            }
            .job-title-main-wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .text-1 {
                    text-align: center;
                }
                .text-2 {
                    text-align: center;
                }
            }
        }
    }
    @media only screen and (max-width: 650px) {
        .home-container { 
            .job-box {
                flex-direction: column;
            }
           
        }
    }
}
